.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_form input{
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}

.create_form button{
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 345px;
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 2px 0;
  height: 35px;
}